*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rubik-v28-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/rubik-v28-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


body, button {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; 
  margin: 0;
  padding: 0;
  
}


h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 900; 
}

.special-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500; 
}

html, body {
  width: 1440px;
  height: 5791px;
  margin: auto;
}

body{
  
  background: linear-gradient(120deg, rgba(239, 239, 239, 0.00) -2.01%, rgba(237, 237, 237, 1.0) 103.74%);
  backdrop-filter: blur(388.5px);
}
.container{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header {
 
  margin-top: 3.375rem;
  margin-left: 9.44%;
  margin-right: 9.44%;
  max-width: 73.1875rem;
  width: 73rem;
  height: 3.125rem;
 
}

.header__container {
  display: flex;
  align-items: center;
}


.header__logo {
  display: flex;
  width: 106px;
  
  color: #363853;
  font-family: Rubik;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.65px;
 
  
}
.header__logo span::first-letter{
  color: #FF6838;
}

.header__nav{
  display: flex;
  margin-left: 17.4375rem;
  margin-top: 0px;

}

.nav__list{
  width: 447px;
  display: flex;
  justify-content: space-around;
  gap: 3.75rem;
  list-style: none;
  
}

.nav__item {
  font-style: normal;
  font-size: 1.125rem;
  line-height: normal;
  position: relative;
}

.header__nav .nav__list:nth-child(1) .nav__item {
  color: #FF6838;
}

.nav__link {
  text-decoration: none;
  color: #363853;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;

  height: 100%;
  padding: 0.1875rem 0;

}


.nav__link.active {
  color: #FF6838 !important; 
}


.header__actions{
  display: flex;
  align-items: center;
  width: 279px;
  margin-left: 59px;
  margin-top: 0;
}

.action__search{
  
  background: none;
  display: flex;
  width: 21px;
  height: 22px;
  border: none;
  flex-shrink: 0;
 
}


.action__cart{
  background: none;
  border: 2px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  margin-left: 60px;
  

}


.cart__badge { 
  position: absolute;
  width: 0.875rem;
  height:  0.875rem;
  background: #FF6838;
  color: white;
  border-radius: 50%;
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.12);
  margin-left: 95px;
  margin-top: -14px;
}

.header__right-button {
  background: var(--Secondary, #FF7A50);
  width: 7.5rem;
  height: 3.125rem;
  box-shadow: 0 1.375rem  2.5rem 0 rgba(255, 104, 56, 0.19);
  border-radius: 0.3125rem;
  border: none;
 
  transition: opacity 0.3s ease;
  display: flex;
  
  margin-left: 57px;
  margin-top: 0;
}

.header__right-button:hover {
  opacity: 0.9;
}

.signup_span{
  font-style: normal;
  font-size: 18px;
  line-height: 1.3125rem;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  margin-left: 26.5px;
  margin-top: 16px;
}


.main_section1{
  max-width: 76.9375rem;
  min-width: 76.9375rem;
  height: 50rem;
  width: 100%;
  margin-left: 8.5rem;
  margin-right: 4.625rem;
  padding: 6.5625rem 0 0;
  display: flex;
  justify-content: space-between;
  
  
}

.main_div1_left{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 7.1875rem;
}


.div__h1{
  color: var(--Primary, #363853);
  font-size: 4.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.h1_span{
  color: #FF6838
}

.div_p {
  color: var(--Primary, #363853);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-style: normal;
  line-height: 1.875rem;  
  text-transform: capitalize;
  margin-left: 0;
  margin-top: 1.4375rem;
}

.main_download{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  justify-content: start;
  align-items: center;
  margin-top: 3.125rem;
}

.div_button{
  
  width: 10.1875rem;
  height: 3.15rem;
  border-radius: 0.3125rem;
  border: none;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  background: #FF6838;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_link{
  text-decoration: none;
  color: #363853;
  font-size: 1.25rem;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: underline;
  height: 100%;
  margin: 0.1875rem 0;

}

.main_div1_right{
 
  width: 65%;
  
 
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}

.div_span_search{
  width: 40px;
  height: 38px;
  position: absolute;
  transform: rotate(-17.42deg);
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(86deg, #47C2FF -3.59%, rgba(99, 203, 254, 0.65) 131.2%);
  margin-left: -210px;
  margin-top: 23px;
}
.search_img{
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(-17.42deg);
  margin-left: 0px;
  margin-top: 0px;
}

.div_span_clock{
  width: 73px;
  height: 73px;
  position: absolute;
  /*transform: rotate(-28.73deg);*/
  flex-shrink: 0;
  border-radius: 6px;
 /* background: linear-gradient(86deg, #A071FFA6 -3.59%, #AA80FF 131.2%);
 */
  margin-left: 421px;
  margin-top: 7px;
}



.message_left{
  width: 154px;
  height: 54px;
  position: absolute;
  flex-shrink: 0;
  border-radius: 6px;
  background: radial-gradient(50% 50% at 50% 50%, #FEF8F5 0%, rgba(255, 255, 255, 0.79) 100%);
  margin-left:  -347px;
  margin-top: 125px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);

}

.row_massage{
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0 0;
}

.div_span_funguy{
  width: 43px;
  height: 43px;
  position: absolute;
  flex-shrink: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-left: 0;
  margin-top: 0;
  padding: 0px 0 0 0;
}
.column_massage{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0 0;
}

.funny_guy_img {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  margin: -2px 0px 0 -4px;
  padding: 0px 0 0 0;
}
h4{
  color: var(--Black, #3D3D3D);
font-family: Rubik;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.delivery_span{
  color: var(--Black, #3D3D3D);
  font-family: Rubik;
  font-size: 7px;
  font-style: normal;
  
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.send{
  display: flex;
  position: absolute;
  margin-left: 476px;
  margin-top: 69px;
  transform: rotate(0.27deg);
}

.vector {
  display: flex;
  position: absolute;
  margin-left: 395px;
  margin-top: 111px;
}

.message_right{
  width: 178px;
  height: 75px;
  position: absolute;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Bg, radial-gradient(50% 50% at 50% 50%, #FEF8F5 0%, rgba(255, 255, 255, 0.79) 100%));
  margin-left:  516px;
  margin-top: 273px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.img_scooter_guy{
  width: 689px;
  height: 680px;
  position: absolute;
  margin-left: -3.6875rem;
}

.image-container{
  margin-left: -3px;
  margin-top: 13px;
  position: absolute;
}

.sandwich_img{
  width: 68px;
  height: 54px;
}

.sandwich-container{
  
  margin-left: 67px;
  margin-top: 18px;
}
.sandwich_text{
  color: #302F3C;
  font-size: 11px;
  line-height: normal;
}
.stars_icons {
  display: flex;
  flex-direction: row;
  width: 11px;
  height: 11px;
  margin-left: 4px;
  margin-top: 5px;
  gap: 0;
}

.dollar{
  width: 10.346px;
  height: 9.263px;
  color: var(--Secondary, #FF7A50);
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  margin-left: 4px;
  margin-top: 5px;
}
.price{
  display: flex;
  flex-direction: row;
  color: var(--Primary, #363853);
  text-align: center;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 4px;
  margin-top: 5px;
}
.icon-text{
  display: flex;
  margin-left: 0;
  margin-top: 0;
}
.div_dollar_price{
  display: flex;
  margin-left: 0;
  margin-top: 0;
}

.dollar_icon{
  width: 10px;
  height: 9px;
}



.popular_category_container {
  
  /*grid-template-rows: auto auto;*/ 
  border: none;
  max-width: 72.125rem;
  margin-left: 8.9375rem;
  margin-right: 8.9375rem;
  margin-top: 85px;
  display: grid;
 
  
  justify-content: stretch;
  
}

.popular_category_section_title{
  text-align: center; 
  font-size: 2.25rem; 
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Primary, #363853);
  margin-left: 14px; 
}
.category_span{
  color: var(--Secondary, #FF7A50);
}

.image-text-blocks {
  
  display: grid;
  /*grid-template-rows: auto auto;*/
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: repeat(2, 1fr); */
  justify-content: stretch;
  
  column-gap: 1.625rem;
  margin-top: 40px;
  
}


.image-text-block {
  width: 13.125rem;
  height: 4.375rem;
  display: flex;
  /*justify-content: space-evenly;*/
  align-items: center; 
  border-radius: 0.5rem; 
  background: #FFF;
}

.image-text-block:first-child {
  background: var(--Secondary, #FF7A50);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  
}

.block-image {
  width: 44px; 
  height: 44px;
  object-fit: cover;
  margin-left: 0;
  margin-top: 0;
}

.block-text {
  color: var(--Primary, #363853);
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin-left: 0;
  margin-top: 0;
}

.image-text-block:first-of-type .block-text {
  color: #FFF;
}


.image-text-block:first-of-type .block-text {
  margin-left: 8px;
  margin-top: 0;
}

.image-text-block:first-of-type .block-image {
  margin-left: 47px;
  margin-top: 0;
}

.image-text-block:nth-child(2) .block-text {
  margin-left: 9px;
  margin-top: 0;
}

.image-text-block:nth-child(2) .block-image {
  width: 63px;
  height: 63px;
  margin-left: 44px;
  margin-top: 2px;
}


.image-text-block:nth-child(3) .block-text {
  margin-left: 9px;
  margin-top: 0;
}

.image-text-block:nth-child(3) .block-image {
  margin-left: 34px;
  margin-top: 0;
}

.image-text-block:nth-child(4) .block-text {
  margin-left: 10px;
  margin-top: 0;
}

.image-text-block:nth-child(4) .block-image {
  margin-left: 26px;
  margin-top: 0;
}

.image-text-block:nth-child(5) .block-text {
  margin-left: 12px;
  margin-top: 0;
}

.image-text-block:nth-child(5) .block-image {
  margin-left: 31px;
  margin-top: 0;
}

.complex-blocks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: stretch;
  column-gap: 1.625rem;
  margin-top: 2.5rem;
  
  
}


.complex-block {
  
  width: 13.125rem;
  height: 17.4375rem;
  display: flex;
  flex-direction: column; 
  align-items: center;  
 
  
  border-radius: 12px; 
  background: #FFF;
}

.complex-image {
  width: 144px; 
  height: 144px;
  object-fit: cover; 
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 0px;
/*  padding-left: 33px;
  padding-right: 33px;
  padding-top: 0;*/
}



.icons {
  display: flex;
  justify-content: space-around;
  gap: 3px; 
  margin-left: 49px;
  margin-right: 49px;
  margin-top: -15px;
/*  padding-left: 49px;
  padding-right: 49px;
  padding-top: 0;*/
}

.icon {
  width: 20px; 
  height: 20px;
}

.complex-text {
  font-size: 15px;
  color: var(--Primary, #363853);
  /*margin-left: 49px;
  margin-right: 49px;*/
  margin-top: 10px;
  margin-left: 0px;
}

.complex-price {
  font-size: 15px;
  color: var(--Primary, #363853);
  font-weight: 500; 
  margin-top: 10px; 
}

.complex-button {
  width: 106px; 
  height: 32px;
  padding: 7px 13px;
  font-size: 15px;
  color: #ffffff;
  border-radius: 2px;
  background: var(--Secondary, #FF7A50);
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}

.complex-button:hover {
  background-color: #0056b3; 
}

.carousel{
  display: flex;
  flex-direction: row;
}
.carousel-arrow-left{
  width: 34px; 
  height: 34px;
  margin-left: 470px;
  margin-top: 39px;
}
.carousel-arrow-items{
  width: 90px; 
  height: 12px;
  margin-left: 27px;
  margin-top: 50px;
}
.carousel-arrow-right{
  width: 34px; 
  height: 34px;
  margin-left: 27px;
  margin-top: 39px;
}


.home-section {
  
  display: flex;
  align-items: center; 
  gap: 137px; 
  padding: 0px;
  max-width: 75.75rem;
  margin-left: 7.125rem;
  margin-right: 7.125rem;
  margin-top: 98px;
 
  
}


.home-image {
  
  width: 626px;
  height: 723px;
  

}
.home-image img{

}
/* Правая часть: контент */
.home-content {
  max-width: 450px;
  width: 450px;
  height: 723px;
}

/* Заголовок */
.home-title {
  color: var(--Primary, #363853);
  font-size: 36px;
  font-weight: 500;
  line-height: 50px; 
  text-transform: capitalize;
  margin-left: 0;
  padding-top: 114px;
}
.first-word {
  color: var(--Secondary, #FF7A50); 
}

.last-words {
  color: var(--Secondary, #FF7A50); 
}

/* Текст */
.home-text {
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
  margin-left: 0;
  padding-top: 31px;
}

/* Пункты с иконками и текстом */
.home-features {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 0;
  margin-top: 19px;
}

.feature {
  display: flex;
  align-items: center; 
  gap: 23px;
  margin-left: 0;
  margin-top: 0px;
}

.feature-icon {
  width: 34px; 
  height: 34px;
  
  margin-left: 0;
  margin-top: 0px;
}

.feature-text {
  
  font-size: 24px;
  font-style: normal;
  color: #363853;
  line-height: 30px; 
 
  
  margin-left: 0;
  margin-top: -4px;
}


.home-button {
  width: 176px;
  height: 58px;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
  border-radius: 30px 30px 1px 30px;
  background: var(--Secondary, #FF7A50);
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
  margin-left: 0;
  margin-top: 58px;
}

.home-button:hover {
  background-color: #0056b3; 
}



.top_food_section {
  max-width: 1169px;
  width: 1169px;
  margin-left: 135.5px;
  margin-right: 135.5px;
  margin-top: 129px;
  
}


.top_food_section_title {
  color: var(--Primary, #363853);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; 
  text-transform: capitalize;
  text-align: center;
}
.restaurant_span{
  color: var(--Secondary, #FF7A50);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
}


.top_food_container {
  width: 1169px;
  height: 877px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: stretch;
  row-gap: 43px; 
  column-gap: 42px;
  margin-top: 50px;
}


.top_food_grid-item {
  position: relative;
  width: 362px;
  height: 417px;
  border-radius: 53px 5px;
  background: #FFF;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  
  
}


.top_food {
  position: absolutes;
  width: 362px;
  height: 299px;
   object-fit: cover;
}


.top_food_text {
  color: var(--Primary, #363853);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  margin-left: 20px;
  margin-top: 22px;
}

/* Нижняя часть (иконка, текст, кнопка) */
.top_food_footer {
  width: 302px;
  height: 33px;
  display: flex;
  align-items: center;
  margin-left: 19px;
  margin-top: 14px;
}


.timer-icon {
  width: 23px;
  height: 22px;
  margin-left: 0px;
}

/* Текст иконки */
.footer-text {
  width: 169px;
  height: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  color: var(--Primary, #363853);
  opacity: 0.9;
  margin-left: 8px;
 /* margin-left: 8px;
  margin-top: 22px;*/
}

/* Кнопка */
.footer-button {
  width: 79px;
  height: 33px;
  border-radius: 20px 20px 0px 20px;
  background: var(--Secondary, #FF7A50);
  box-shadow: 0px 5px 12px 0px rgba(255, 104, 56, 0.19);
  padding: 8px 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 24px;
  margin-top: 11px;
  margin-bottom: 22px;
  /*margin-left: 30px;
  margin-top: 0;*/
}

.arrow-icon{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}


.footer-button:hover {
  background-color: #0056b3; 
}



.app-download-section {
  width: 1170px;
  height: 480px;
  display: flex;
  justify-content: space-between; 
  gap: 6px;
  max-width: 1170px;
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 163px;
}


.app-text-content {
  max-width: 524px;
  width: 524px; 
  height: 243px;
  margin-top: 116px;
}

.app-title {
  color: var(--Primary, #363853);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 138.889% */
  text-transform: capitalize;
  margin-top: 3px;
}

.app-title span{
  color: var(--Secondary, #FF7A50);

}

.app-description {
  height: 94px;
  color: #363853;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-top: 30px;
}

.app-buttons {
  display: flex;
  gap: 27px;
  margin-top: 30px;
  
}

.apple_button{
  width: 120px;
  height: 40px;
  border-radius: 7px;
 
  border: none;
  
  /*display: inline-block;
   overflow: hidden;
  
 
  background-color: transparent;
  background-repeat: no-repeat; 
  background-size: cover; */
  background-position: center; 
  
   
  background-image: url('../images/Apple.png');
  
}

.google_button{
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-position: center; 
  background-image: url('../images/Google\ Play.png');
}


.app-image {
  width: 634px;
  height: 480px;
  
  margin-left: 0px;
  margin-top: 3px;
}


/* Основные стили секции */
.testimonial-section {
  width: 1162px;
  margin-left: 139px;
  margin-right: 139px;
  margin-top: 169px;
  text-align: center;
}

.testimonial-section h2 {
  max-width: 1162px;
  height: 43px;
  color: var(--Primary, #363853);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-left: 0px;
  margin-bottom: 0;
}

.testimonial-section h2 span{
  color: var(--Secondary, #FF7A50);
}

/* Контейнер для содержимого */
.testimonial-content {
  
  display: flex;
  align-items: center;
  gap: 68px;
  max-width: 1162px;
  width: 1162px;
  height: 528px;
  position: relative;
  margin-left: 0;
  margin-top: 60px;
}

.testimonial-image{
  width: 433px;
  height: 600px;
}

/* Левая картинка */
.testimonial-image img {
  width: 433px;
  height: 600px;
  border-radius: 24px;
  object-fit: cover;
  
  margin-left: 0px;
  margin-top: 25px;
}

.client_block1 {
  display: flex;
  flex-direction: column;
  width: 661px;
  height: 340px;
  margin-left: 0px;
  margin-bottom: 42px;
}

.client_block2{
  display: flex;
  flex-direction:row;
  width: 661px;
  height: 60px;
  margin-left: 0px;
  margin-top: 42px;
}
/* Текст и кавычки */
.testimonial-text {
 
 
  width: 661px;
  height: 240px;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
}

.quote-open {
  position: relative;
  top: 5px;
  left: 3px;
  width: 23px;
  height: 18px;
}

.quote-close {
  position: absolute;
  bottom: 215px;
  right: 4px;
  width: 23px;
  height: 18px;
}

.testimonial-text p {
  width: 573px;
  height: 206px;
  color: var(--Primary, #363853);
  font-size: 20px;
  font-style: normal;
  line-height: 45px; /* 225% */
  letter-spacing: 0.5px;
  margin-left: 46px;
  margin-top: -22px;
}



/* Имя и подпись */
.testimonial-author {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0px;
  margin-left: 56px;
}

.author-name {
  color: var(--Secondary, #FF7A50);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.author-title {
  color: #AAA;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin-top: 18px;
}

/* Стрелочки перехода */
.testimonial-navigation {
  display: flex;
  gap: 44px;

  /*right: 0;
  bottom: 0;*/
  margin-left: 322px;
  margin-top: 19px;
  
}

.arrow-left,
.arrow-right {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 0.8;
}


.subscribe-section {
  
  background: var(--Secondary, #FF7A50);
  width: 1170px;
  height: 312px; 
  margin-left: 135px;
  margin-right: 135px;
  margin-top: 125px;
  text-align: center;
  color: #fff; 
  border-radius: 20px; 
  max-width: 1170px; 
   
}
.subcribe_form{
  position: absolute;
  width: 1170px;
  height: 312px; 
}

.subscribe-section h2 {
  position: relative;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 0px;
  margin-top: 57px;
}

.subscribe-section p {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 30px; 
  margin-left: 0px;
  margin-top: 10px;
  opacity: 0.8;
}


.subscribe-form {
  position: absolute;
  display: flex;
 
}

.email-input {
  position: relative;
  width: 839px;
  height: 80px; 
  border: none;
  border-radius: 50px;
  color: var(--Primary, #363853);
  font-size: 18px;
  font-style: normal;
  line-height: 30px; /* 166.667% */
  box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.07);
  margin-left: 165.3px;
  margin-right: 165.3px;
  margin-top: 30px;
  
 
}

.subscribe-form p{
  position: absolute;
  margin-left: 213px;
  margin-top: 57px;
  opacity: 0.9;
  color: var(--Primary, #363853);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.subscribe-button {
  width: 191px;
  height: 58px;
  position: absolute;
  display: flex;
  align-items: center;
  
  background: var(--Secondary, #FF7A50); 
  color: #fff;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 802px;
  margin-top: 42px;
}

.subscribe-button span{
  margin-left: 14px;
  margin-top: 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.subscribe-button:hover {
  background-color: #555; 
}

.button-icon {
  width: 15.6px; 
  height: 15.6px;
  margin-left: 25px;
  margin-top: 0px;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    margin: 50px 80px;
  }
  
  .header__right-menu {
    margin-left: 109px;
    gap: 25px;
  }
  
  .header__logo {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .header {
    margin: 30px 20px;
  }
  
  .header__right-menu {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .header__right-button {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
}

