*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/rubik-v28-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; 
}


h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 900; 
}


button {
  font-family: 'Rubik', sans-serif;
  font-weight: 500; 
}


.special-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500; 
}


.header {
  padding: 15px 0 0;
  background: wheat;
}

.wrapper {
  padding: 0 10px;
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
}


.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__logo {
  margin-right: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: #FF6838;
  cursor: pointer;
}

.header__logo-link {
  display: block; 
}

.header__logo-pic {
  display: block; 
}


.header__right {
  display: flex;
  align-items: center;
  gap: 55px; 
}


.header__right-menu {
  display: flex;
  gap: 25px; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.header__right-list {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.header__right-menu .header__right-list:nth-child(1) .header__right-link {
  color: #FF6838; 
}
.header__right-link {
  text-decoration: none;
  color: #363853;
  transition: color 0.3s ease; 
}

.header__right-link:hover {
  color: #FF6838; 
}


.header__right-button {
  background: #FF7A50;
  width: 120px;
  height: 50px;
  box-shadow: 0 22px 40px rgba(255, 104, 56, 0.19);
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.3s ease; 
}

.header__right-button:hover {
  background: #FF6838; 
}

.header__icon {
  width: 20px; 
  height: 20px;
  vertical-align: middle; 
  margin-right: 8px; 
}




@media (min-width: 992px) and (max-width: 1199px) {
  .header__right-menu {
      margin-left: 109px;
      gap: 25px;
  }
}

